.vs/
src/HeractJS/node_modules/
src/HeractJS/HeractJS.xproj.user
src/HeractJS/Scripts/GanttChart/**/*.js
src/HeractJS/wwwroot/js/commons.js
src/HeractJS/wwwroot/js/*.bundle.js
src/HeractJS/wwwroot/js/*.map
src/HeractJS/.idea/
src/HeractJS/wwwroot/js/*.css
src/HeractJS/Scripts/services/*.js

