*.user
.vs/
.idea/
bin/
obj/
node_modules/
src/HeractJS/Scripts/GanttChart/**/*.js
src/HeractJS/wwwroot/js/commons.js
src/HeractJS/wwwroot/js/*.bundle.js
src/HeractJS/wwwroot/js/*.map
src/HeractJS/wwwroot/js/*.css
src/HeractJS/Scripts/services/*.js
