<ul class="js-navigation-items-container left-menu">
	<li class="left-menu__item">
		<span class="left-menu__link switcher js-toggle-navigation-button">
			<span class="left-menu__txt">Comindware</span>
		</span>
	</li>
</ul>