<div class="card__group">
    <div class="card__i card__i_attach-icon doc-icon doc-icon_card" data-extension="{{extension}}">
        {{name}}
        <a href="{{uri}}" class="btn-download"></a>
    </div>
    <div class="card__i card__i_attach-last">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.WIDGETS.ATTACHMENTS.UPDATE'}}</h3>
        <span class="card__attach-data">{{date}}</span><!--
        --><a href="#" class="card__attach-author js-attach-author">{{userFullName}}</a>
    </div>
</div>
<div class="card__separator">{{localize 'ELEGANCE.FORM.WIDGETS.ATTACHMENTS.VERSIONS'}}</div>
<div class="card__group js-attach-versions"></div>