body {
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Bar chart */
.barChartBody {
    position: absolute;
    height: 15px;
    fill: rgb(160, 230, 160);
    /* transition: all .2s;*/
}

.milestoneBody {
    position: absolute;
    fill: rgb(80,80,220);
    stroke-width: 2px;
    height: 15px;
    width: 15px;
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}

    .milestoneBody:hover {
        stroke: rgb(130, 130, 255);
    }

.milestoneSelected {
    stroke: rgb(50, 50, 180);
    stroke-width: 2.5px;
}

.projectBody {
    position: absolute;
    stroke-width: 2px;
    stroke: rgb(40, 40, 100);
    height: 2px;
    shape-rendering: crispEdges;
}

.barChartFillBody {
    position: absolute;
    height: 13px;
    fill: rgb(100,170,100);
    /* transition: all .2s;*/
}

.barTitle {
    fill: black;
    height: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5) !important;
}

.taskLineTaskTitle, .taskLineTaskDate {
    fill: black;
    height: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5) !important;
    overflow: hidden;
}

/* ------ barSelectBody -------*/
.barSelectBody {
    position: absolute;
    height: 23px;
    width: 100%;
    fill: white;
    stroke-width: 1px;
    stroke: rgb(235,235,235);
    transition: all 0.2s;
    shape-rendering: crispEdges;
}

    .barSelectBody:hover {
        stroke-width: 1px;
        stroke: rgb(210,210,210);
    }

.barSelected {
    height: 23px;
    fill: rgb(240,240,240);
    stroke: rgb(190,190,190);
}
/* ------ ------------- -------*/
.ganttChartView {
    user-select: none;
    width: 3000px;
    height: 1500px;
    shape-rendering: optimizeSpeed;
    z-index: 10;
}

.ganttChart {
    width: 100%;
    overflow: auto;
    transition: all .2s;
}

.ganttChartContainer {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.container .body-content {
    width: 100%;
    height: 100%;
}

.js-module-gantt-toolbar {
    width: 100vw;
    height: 26px;
    position: relative;
    background-color: #299cb4;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    z-index: 110;
}

.js-module-gantt-taskBar {
    width: 100vw;
    height: 150px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    z-index: 100;
}

/* Bar chart */
.ganttTimeline {
    width: 3000px;
    height: 27px;
    transition: all .2s;
}

.ganttTaskLine {
    width: 3000px;
    height: 150px;
}

.timelineContainer {
    overflow-x: auto;
    overflow-y: hidden;
    height: 27px;
    flex: none;
    z-index: 90;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

    .timelineContainer::-webkit-scrollbar, .js-module-gantt-taskline::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

.timeLineText {
    font-size: 11px;
    fill: white;
    text-anchor: middle;
    font-weight: 600;
}
/*infoPopup*/

.infoPopup {
    position: fixed;
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0);
    z-index: 210;
    display: none;
    pointer-events: none;
    transition: top 0.3s;
}

.infoPopupTitle {
    width: 100%;
    height: 22px;
    text-align: center;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #299cb4;
}

.infoPopupDescription {
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    border: none;
}

.infoPopupText {
    width: 100%;
    height: 20px;
    padding: 5px;
}
/*Action popup*/

.actionPopup {
    position: fixed;
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0);
    z-index: 210;
    display: none;
}

.actionPopupTitle {
    width: 100%;
    height: 24px;
    text-align: center;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #299cb4;
}

.addToTasklineButton {
    height: 22px;
    width: 100%;
    margin-top: 3px;
    text-align: center;
    background-color: white;
    border: none;
    color: black;
    vertical-align: top;
    z-index: 220;
}

.removeFromTasklineButton {
    height: 22px;
    width: 100%;
    margin-top: 3px;
    text-align: center;
    background-color: white;
    border: none;
    color: black;
    vertical-align: top;
    z-index: 220;
}
/*modalWindow*/

.modalWindowTitle {
    box-shadow: 0 0 3px rgb(0,0,0);
    flex: none;
    height: 22px;
    z-index: 3;
}

.modalWindowBody {
    box-shadow: 0 0 4px rgb(0,0,0);
    flex: 1;
    z-index: 2;
}

.modalWindowButtons {
    height: 22px;
    flex: none;
    z-index: 1;
}

.modalWindowWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    display: none;
    z-index: 220;
    backdrop-filter: blur(10px);
}

.modalWindow {
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0);
    z-index: 20;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.modalWindowInput {
    width: 300px;
    height: 34px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.modalWindowButtonOk {
    width: 50%;
    height: 22px;
    bottom: 0;
    left: 0;
    border: none;
    background-color: white;
    position: absolute;
    float: none;
}

.modalWindowButtonCancel {
    width: 50%;
    height: 22px;
    right: 0;
    bottom: 0;
    background-color: white;
    border: none;
    border-left: 1px solid gray;
    position: absolute;
    float: none;
}

/*------ Timeline style ------*/
.ganttTimeline {
    background-color: rgb(44,171,198);
}
/*------ Toolbar style ----*/
.toolbarContainer {
    width: 100%;
    height: 100%;
}

.toolbarButton {
    height: 20px;
    width: 100px;
    margin: 10px;
    margin-top: 3px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    vertical-align: top;
    transition: all 0.2s;
}

    .toolbarButton:hover {
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) !important;
    }

.toolbarButtonFixed {
    height: 20px;
    width: 100px;
    margin-top: 3px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    vertical-align: top;
    position: absolute;
    right: 50px;
}

.viewModeSelector {
    position: fixed;
    width: 200px;
    height: 115px;
    background-color: white;
    box-shadow: 0 0 4px rgb(0,0,0);
    z-index: -1;
    opacity: 0;
    transition: all .2s;
    top: 30px;
    right: 25px;
    padding: 5px;
}

.toolbarCheckbox {
    width: 19px;
    height: 19px;
    margin-bottom: 20px !important;
    background-color: black;
    -webkit-appearance: checkbox !important;
    right: 0;
}

#gridCheckbox, #gridLabel {
    top: 1rem;
    position: absolute;
}

#chartCheckbox, #chartLabel {
    top: 3rem;
    position: absolute;
}

#timelineCheckbox, #timelineLabel {
    top: 5rem;
    position: absolute;
}
/*------Taskline style ------- ----*/
.tasklineContainer {
    width: auto;
    height: 160px;
    background-color: white;
    line-height: 0;
}

.taskLineCallouts {
    width: 3000px;
    height: 37px;
    shape-rendering: crispEdges;
}

.tasklineTimeline {
    width: 3000px;
    height: 20px;
    shape-rendering: crispEdges;
}

.tasklineBars {
    width: 3000px;
    height: 63px;
    border-bottom: 1px solid rgb(200,200,200);
}

.tasklineMilestones {
    width: 3000px;
    height: 40px;
}

.js-module-gantt-taskline {
    overflow: auto;
    z-index: 105;
    position: relative;
    background-color: white;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    height: 166px;
    transition: height 0.2s;
}

.tasklineTimeLineText {
    color: black;
    text-anchor: middle;
}

.js-module-region-right {
    transition: width 0.2s ease-out;
}

.js-module-region-left {
    transition: width 0.2s ease-out;
}

.tasklineBarBody {
    position: absolute;
    height: 28px;
    fill: rgb(160, 230, 160);
    stroke: rgb(140,210,140);
    stroke-width: 0.5px;
}

.tasklineBarSelected {
    stroke-width: 1.5px;
    stroke: rgb(60,120,50);
}

.taskLink {
    shape-rendering: crispEdges;
    stroke-width: 2;
    stroke: rgb(80,80,220);
    stroke-linecap: round;
    stroke-linejoin: round;
    marker-end: url(#triangle);
    fill: none;
}
