<div class="add-comment">
    <div class="add-comment__tr">
        <div class="add-comment__td">
            <div class="avatar-icon avatar-icon_add-comment" style="background-image: url(/GetUserpic.ashx?id={{userId}})"></div>
            <textarea class="js-input textarea textarea_add-comment" placeholder="{{localize 'ELEGANCE.FORM.WIDGETS.COMMENTS.ADDCOMMENT'}}"></textarea>
            <span class="btn-rich-editor js-edit-comment"></span>
        </div>
        <div class="add-comment__td js-send-comment">
            <span class="btn-send" title="{{localize 'ELEGANCE.FORM.WIDGETS.COMMENTS.SENDBTN'}}"></span>
        </div>
    </div>
</div>