<div class="l-tbar">
    <div class="tbar">
        <div class="tbar__i">
            <div class="btn-txt btn-txt_danger" id="commentCancelBtn">{{localize 'ELEGANCE.FORM.WIDGETS.COMMENTS.EDITVIEW.CANCELBTN'}}</div>
        </div><!--
        --><div class="tbar__i">
        <h2 class="js-title tbar__title"></h2>
    </div><!--
        --><div class="tbar__i">
        <div class="btn-txt" id="commentSaveBtn">{{localize 'ELEGANCE.FORM.WIDGETS.COMMENTS.EDITVIEW.SAVEBTN'}}</div>
    </div>
    </div>
</div>
<div id="commentEditor" class="">
    <textarea id="commentInput">{{this.value}}</textarea>
</div>