<div class="l-tbar">
    <div class="tbar">
        <div class="tbar__i" tabindex="0">
            <div class="btn-txt js-back" id="select-header-back">{{localize 'ELEGANCE.FORM.HEADER.BACK'}}</div>
        </div>
        <div class="tbar__i" tabindex="0">
            <h2 class="tbar__title">{{title}}</h2>
        </div>
        <div class="tbar__i"></div>
    </div>
</div>
<div class="l-search l-search_wmodal" tabindex="0">
    <div class="search search_wmodal">
        <input id="search-list" type="search" class="search__input" required>
        <label for="search-list" class="search__label">
            <span class="search__placeholder">{{localize 'ELEGANCE.DATASET.COMMON.SEARCH'}}</span>
        </label>
    </div>
</div>
<ul class="{{containerClass}}" id="search-results-container" {{#unless isMobile}}style="max-height: {{maxHeight}}px"{{/unless}}></ul>