<div class="card__i">
    <h3 class="h3-card">{{localize 'ELEGANCE.FORM.WIDGETS.TIMESPENT.TIMESPENT'}}</h3>
    <select name="duration" class="select">
        {{#each timeSpentData}}<option value="{{value}}" class="select__o">{{text}}</option>{{/each}}
    </select>
</div>
<div class="card__i">
    <h3 class="h3-card">{{localize 'ELEGANCE.FORM.WIDGETS.TIMESPENT.DATE'}}</h3>
    <div class="input-group date js-date">
        {{#if isMobileDevice}}
            <label>
                <span class="js-date-display" style="position: absolute;"></span>
                <input type="date" style="opacity: 0;" class="js-date-input">
            </label>
        {{else}}
            <div class="js-date-display"></div>
            <input readonly="true" style="display: none" class="js-date-input input input_date" type="text">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        {{/if}}
    </div>
</div>
<div class="card__i">
    <h3 class="h3-card">{{localize 'ELEGANCE.FORM.WIDGETS.TIMESPENT.COMMENT'}}</h3>
    <textarea class="textarea js-description">{{description}}</textarea>
</div>