<div class="card__group">
    <div class="card__i card__i_user">
        <span class="avatar-icon avatar-icon_card ng-scope" ng-if="person.avatarUri" style="background-image: url({{avatarUri}})"></span>
        {{#if fullName}}<div class="userName">{{fullName}}</div>{{/if}}
    </div>
    {{#if userPosition}}<div class="card__i card__i_profile">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.TITLE'}}</h3>
        <div class="">{{userPosition}}</div>
    </div>{{/if}}<!--
    -->{{#if department}}<div class="card__i card__i_profile">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.DEPARTMENT'}}</h3>
        <div class="">{{department}}</div>
    </div>{{/if}}<!--
    -->{{#if email}}<div class="card__i card__i_profile">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.EMAIL'}}</h3>
        <div class=""><a href="mailto:{{email}}">{{email}}</a></div>
    </div>{{/if}}<!--
    -->{{#if phone}}<div class="card__i card__i_profile">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.PHONE'}}</h3>
        <div class=""><a href="tel:{{phoneLink}}">{{phoneNumber}}</a></div>
    </div>{{/if}}<!--
    -->{{#if skype}}<div class="card__i card__i_profile">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.SKYPE'}}</h3>
        <div class=""><a href="callto:{{skype}}">{{skype}}</a></div>
    </div>{{/if}}
</div>
<div class="card__separator">{{localize 'ELEGANCE.FORM.ACCOUNT.INFO'}}</div>
<div class="card__group">
    {{#if userManager}}<div class="card__i">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.MANAGER'}}</h3>
        {{userManager}}
    </div>{{/if}}
    {{#if reportee}}<div class="card__i">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.REPORTS'}}</h3>{{/if}}
        {{#each reportee}}<span class="card__list">{{name}}</span>{{/each}}
    {{#if reportee}}</div>{{/if}}
    {{#if groups}}<div class="card__i">
        <h3 class="h3-card">{{localize 'ELEGANCE.FORM.ACCOUNT.MEMBER'}}</h3>{{/if}}
        {{#each groups}}<div class="card__list">{{name}}</div>{{/each}}
    {{#if groups}}</div>{{/if}}
</div>