<div class="card__i card__i_title">
    {{title}}
</div>
<div class="card__i">
    {{second}}
</div>

<div class="card__i">
    <h3 class="h3-card">{{third}}</h3>
    text
</div>
<div class="card__i">
    <a href="#" class="card__link icon-link">link</a>
</div>
<div class="card__i card___subsection" data-num="111">
    <div class="card__txt">Attachments</div>
</div>
<div class="card__i card___subsection" data-num="5">
    <div class="card__txt">Discussion</div>
</div>
<div class="card__i card___subsection" data-num="">
    <div class="card__txt">Subtask</div>
</div>