<div class="notification_settings_loading"></div>
<div class="notification_settings_noserver" style="display:none">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.NOSERVER')}}}</div>
<div class="notification_settings_form one-column-wrp" id="{{id}}">
        <h1 class="h1-notification">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB')}}}</h1>

        <div class="notification-separator"></div>

        <h2 class="h2-notification">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.DAILYSUMMARYBLOCK')}}}</h2>
        <p class="notificat_descript">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.DAILYSUMMARYBLOCK.DESCRIPTION')}}}</p>
        <div class="notification__item dailySummary"></div>
        <label class="notification__item__label dailySummary_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.DAILYSUMMARY')}}}</label>

        <div class="notification-separator"></div>

        <h2 class="h2-notification">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.IMMEDIATENOTIFICATIONS')}}}</h2>
        <p class="notificat_descript">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.IMMEDIATENOTIFICATIONS.DESCRIPTION')}}}</p>
        <h3 class="h3-notification">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.IMMEDIATENOTIFICATIONS.SUBTITLE')}}}</h3>

        <div class="card__item taskUpdates"></div>

         <!--{<label class="notification__item__label taskUpdates_Label card__item icon-dropdown">{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.TASKUPDATES')}}</label>-->

        <div class="card__input icon-dropdown notification__item__label">
            <div class="taskUpdatesAssignmentOnly">
                <div class="card__item "></div>
            </div>
        </div>
        <div class="card__item discussionUpdates"></div>
        <label class="notification__item__label discussionUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.DISCUSSIONUPDATES')}}}</label>
        <div class="card__item documentUpdates"></div>
        <label class="notification__item__label documentUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.DOCUMENTUPDATES')}}}</label>
        <div class="card__item awardUpdates"></div>
        <label class="notification__item__label awardUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.AWARDUPDATES')}}}</label>
        <div class="card__item timesheetUpdates"></div>
        <label class="notification__item__label timesheetUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.TIMESHEETUPDATES')}}}</label>
        <div class="card__item roomUpdates"></div>
        <label class="notification__item__label roomUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.ROOMUPDATES')}}}</label>
        <div class="card__item projectUpdates"></div>
        <label class="notification__item__label projectUpdates_Label">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.PROJECTUPDATES')}}}</label>
        <p class="notificat_descript" style="margin: -15px 0 0 23px">{{{this.Localizer('PROJECT.PROFILE.NOTIFICATIONSTAB.PROJECTUPDATES.DESCRIPTION')}}}</p>

</div>
