<div class="notifications-panel__header">
    <span class="notifications-panel-title">{{localize 'PROCESS.COMMON.NOTIFICATIONS.INFORMER.TITLE'}}</span>
    <!--<a href="{{notificationCenterUrl}}" class="notifications-panel-link">{{localize 'PROCESS.COMMON.NOTIFICATIONS.INFORMER.VIEWALL'}}</a>-->
    <span class="js-delete-all-inbox-items dev-notifications-panel-delete-all">{{localize 'PROCESS.COMMON.NOTIFICATIONS.NOTIFICATION.DELETE'}}</span>
</div>
<div class="notifications-panel__items js-notifications"></div>