@section styles { 
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
}

@section scripts {
    <script src="~/js/commons.js"></script>
    <script src="~/js/cmw.tracker.gantt.bundle.js"></script>
}




<div id="content"> </div>