@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="~/css/demo.css">
    <link rel="stylesheet" type="text/css" href="~/css/master.css">
    <link rel="stylesheet" type="text/css" href="~/css/master-new.css">
}

@section scripts {
    <script src="~/js/commons.js"></script>
    <script src="~/js/cmw.tracker.gantt.bundle.js"></script>
}




<div id="content"> </div>