<div class="js-input">
<label>
    <span class="js-date-display" style="position: absolute;">{{dateDisplay}}</span>
    <input type="date" style="opacity: 0;" class="js-date-input">
</label>
{{#isDateTime}}
<label>
    <span class="js-time-display" style="position: absolute;">{{timeDisplay}}</span>
    <input type="time" style="opacity: 0;" class="js-time-input">
</label>
{{/isDateTime}}
</div>
<div class="btn-remove js-remove hidden"></div>
<div class="placeholder js-placeholder {{#unless isPlaceholder}}hidden{{/unless}}">{{prompt}}</div>