<div class="duration {{^isEditable}}readonly{{/isEditable}} js-input-group {{#isPlaceholder}}hidden{{/isPlaceholder}}">
    <label class="duration__label js-day-input js-input" >
        <input {{^isEditable}}readonly{{/isEditable}} type="{{inputType}}" pattern="[0-9]*" inputmode="numeric"  min="0" max="999" class="input input_duration" data-length="2" maxlength="3"/>
        <span class="duration__txt">
            <span class="js-days-text">{{daysText}}</span>
        </span>
    </label>
    <label class="duration__label js-hour-input js-input">
        <input {{^isEditable}}readonly{{/isEditable}} type="{{inputType}}" inputmode="numeric" pattern="[0-9]*" min="0" max="23" class="input input_duration" maxlength="2"/>
        <span class="duration__txt">
            <span class="js-hours-text">{{hoursText}}</span>
        </span>
    </label>
    <label class="duration__label js-minute-input js-input" >
        <input {{^isEditable}}readonly{{/isEditable}} type="{{inputType}}" pattern="[0-9]*" inputmode="numeric" min="0" max="59" class="input input_duration" maxlength="2"/>
        <span class="duration__txt">
            <span class="js-minutes-texts">{{minutesText}}</span>
        </span>
    </label>
</div>
<input class="js-placeholder {{^isPlaceholder}} hidden{{/isPlaceholder}}" readonly="true">